config.ini
.vscode/*
*__pycache__/*
*__pycache__*
raasgym/build/
raasgym/dist/
raasgym/raasgym.egg-info/
raasgym/raasgym/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
