<!doctype html>
<html lang="en">
    <head>
        {% include "header.html" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.js" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function($) {

                hardware_list = $('#hardware');


            function build_hardware(name, status){
                    var tr = $('<tr/>')
                        .addClass("table-row")
                        .appendTo(hardware_list)
                    
                    var name_td = $('<td/>')
                        .text(name)
                        .appendTo(tr)     
                        

                    badge_type = "";
                    switch(status) {
                    case "ONLINE":
                        badge_type = "badge-success"
                        break;
                    case "OFFLINE":
                        badge_type = "badge-warning"
                        break;
                    default:
                        badge_type = "badge-warning"
                    }

                    var status_td = $('<span/>')
                        .text(status)
                        .addClass("float-right")
                        .addClass(badge_type)
                        .addClass("badge")
                        .appendTo(name_td)
                }
                
                function load_hardware() {
                    $.get( "hardware", function(hardware) {
                        
                        hardware_list.empty()
                        
                        hardware.forEach(hardware => {
                            build_hardware(hardware.name, hardware.status);   
                        });

                    });
                }
                
                load_hardware();

                setInterval(load_hardware, 3000)

            });
        </script>
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-hover table-striped table-body-scroll">
                        <thead>
                            <tr>
                                <th scope="col">hardware status</th>
                            </tr>
                        </thead>
                        <tbody id="hardware">
                        </tbody>
                    </table> 
                </div>
                <div class="col-sm-6">
                    <div style="" id="twitch-player" class="position-sticky">
                        <iframe
                        src="https://player.twitch.tv/?channel=perciplex&muted=true"
                        width="100%"
                        height="100%"
                        style="position:absolute;top:0;left:0;"
                        frameborder="0"
                        scrolling="no"
                        allowfullscreen="true">
                        </iframe>
                    </div>                    
                </div>
            </div>
        
            
        </div>
    </body>
</html>

