<!doctype html>
<html lang="en">

<head>
    {% include "header.html" %}
</head>

<body>
    <div class="container" id="content-container">
        <div class="jumbotron" id="info">
            <h3 class="display-4" style="width:70%;font-family: 'Share Tech Mono', monospace;">Reality as a Service</h3>
            <p style="width:80%;font-family: 'Share Tech Mono', monospace;">
                We built real-life versions of the OpenAI Gym environments, and you can use them! To start, fork <a
                    href="https://github.com/perciplex/raas-starter">our starter repository on GitHub</a> and edit
                <code>run.py</code>. <a href="status">Our robots</a> use the same Gym interface you're used to. Just
                import our custom environment and you're ready to go.
            </p>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary btn-lg btn-block link" onclick="location.href='submit'">try
                    it out for
                    yourself</button>

                <div id="job_list"></div>
            </div>
            <div class="col-sm-6">
                <div style="" id="twitch-player" class="position-sticky">
                    <iframe src="https://player.twitch.tv/?channel=perciplex&parent=raas.perciplex.com" width="100%"
                        height="100%" style="position:absolute;top:0;left:0;" frameborder="0" scrolling="no"
                        allowfullscreen="true">
                    </iframe>
                </div>
            </div>
        </div>


    </div>


    <!-- Load our React component. -->
    <script src="/static/job_list.jsx" type="text/babel"></script>
</body>

</html>