<!doctype html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <body>
   
        <table>
            {% for job in jobs %}
                <tr>
                    <th> {{ job['gist'] }} </th>
                    <td> {{ job['status'] }} </td>
                </tr>
            {% endfor %}
        </table>
        <form action = "/jobs" method = "POST">
            <p>Gist <input type = "text" name = "gist" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>
      
   </body>
</html>