<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Favicons -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/bootstrap.min.css">

        <title>Reality as a Service</title>
    </head>
    <body>
        <div class="container">
            
            <img src="../static/banner.png" class="img-fluid"><img>
            <form class="form-inline my-2 my-lg-0" action = "/jobs" method = "POST">
                <input class="form-control mr-sm-2" type="text" name="git" placeholder="Git address">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">submit</button>
            </form>
            <br>
            <div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center secondary">Active Jobs</li>
                    {% if jobs|length > 0 %}
                        {% for job in jobs %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="float-left">{{ job.git }} </span>
                            <span class="float-right badge badge-primary">{{ job.status_str() }} </span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="float-left"> No active jobs. </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </body>
</html>