<!doctype html>
<html lang="en">

<head>
    {% include "header.html" %}
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="card border-primary mb-3">
                    <div class="card-header">what do I do?</div>
                    <div class="card-body">
                        <div class="card-text">
                            Start by forking <a href="https://github.com/perciplex/raas-starter">our starter repository
                                on GitHub</a>, or build your own repository. Either way, you must include
                            <code>run.py</code> at the root directory. We use the same interface as OpenAI Gym with a
                            special enviorment.
                            <p></p>
                            <pre>

    import gym
    <strong>import raas_envs</strong>
    env = gym.make('<strong>Pendulum-RaaS</strong>')
    env.reset()
    for _ in range(1000):
        env.render()
        env.step(env.action_space.sample()) # take a random action
    env.close()</pre>
                            When run locally, the above code performs a Gym simulation with phyical parameters set to
                            match our hardware. When run at RaaS, the code controls an actual robot!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="hardware_form"></div>
            </div>
        </div>
    </div>

    <!-- Load our React component. -->
    <script src="/static/submit.jsx" type="text/babel"></script>
</body>

</html>